.navbar {
  background-color: $color-azul;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: $color-azul;
  color: $color-plateado;
  div {
    display: flex;
    gap: 1rem;
  }
  a {
    color: $color-plateado;
    text-decoration: none;
    &:hover {
      color: $color-naranja;
    }
  }
}
